.single-product .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
}
.sticky-container {
    position: relative;
    height: auto;
}
.single-product-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 25px;
    position: sticky;
    top: 50;
}
.single-product__logo {
    width: 120px;
}
.selected-size__value {
    text-transform: uppercase;
}
.size-guide-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
}
/* .size-guide-button img {
    height: 100%;
} */
.size-select, select {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: var(--radius-sm);
    -webkit-border-radius: var(--radius-sm);
    -moz-border-radius: var(--radius-sm);
    -ms-border-radius: var(--radius-sm);
    -o-border-radius: var(--radius-sm);
    text-transform: uppercase;
}
.size-select option {
    width: 100%;
}
.accordion-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
}
.accordion-title img, .accordion-title.active .accordion-arrow {
    transition: transform var(--transition-speed) ease;
    -webkit-transition: transform var(--transition-speed) ease;
    -moz-transition: transform var(--transition-speed) ease;
    -ms-transition: transform var(--transition-speed) ease;
    -o-transition: transform var(--transition-speed) ease;
}
.accordion-title.active img, .accordion-title.active .accordion-arrow {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}
.single-product__images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
}
.single-product__images img {
    width: calc(100%/3 - 20px);
    cursor: pointer;
}
.single-product__images img:first-child, .single-product__images img:nth-child(2), .single-product__images img:nth-child(3), .single-product__images img:nth-child(4) {
    width: calc(100%/2 - 10px);
}

.product-modal {
    visibility: hidden;
    opacity: 0;
    user-select: none;
    
}
.product-modal.active {
    visibility: visible;
    opacity: 1;
}

.single-product__slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    z-index: 12;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 min(300px, 5%);
}
.single-product__slider .modal-header {
    padding: 20px;
    justify-content: flex-end;
}
.single-product__slider .slider-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}
.slider-container {
    width: min(600px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.single-product__slider .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.single-product__slider .controls {
    position: absolute;
    width: 120%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 40px;
}
.next, .prev {
    cursor: pointer;
}
.single-product__slider .navigation{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 0 20px;
    height: 100%;
    overflow-y: scroll;
    height: 80%;
    flex-shrink: 0;
}
.single-product__slider .navigation img {
    width: 100%;
    flex-shrink: 0;
}
.single-product__slider .navigation::-webkit-scrollbar {
    width: 2px;
}
.single-product__slider .navigation::-webkit-scrollbar-thumb {
    background: #000;
}
.slider-thumb {
    cursor: pointer;
    flex-shrink: 0;
}
.single-product-info {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.single-product-info .s-accordion {
    padding: 0;
    row-gap: initial;
}
.single-product-info button {
    padding: 20px 0;
    border-radius: var(--radius-sm);
    -webkit-border-radius: var(--radius-sm);
    -moz-border-radius: var(--radius-sm);
    -ms-border-radius: var(--radius-sm);
    -o-border-radius: var(--radius-sm);
    text-transform: uppercase;
    width: 100%;
    color: var(--white);
}
.add-to-bag {
    background: var(--black);
}
.add-to-wish {
    background: var(--main);
}
.wear h2, .also h2 {
    margin-bottom: 30px;
}
.wear .row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    display: flex;
    justify-content: space-between;
    max-height: 670px;
}

.wear-card {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.wear-card .card-body {
    width: 200px;
}
.wear-single {
    width: 40%;
}
.wear-single img {
    height: 100%;
    width: auto;
}

/* .wear-single-image {
    width: min(400px, calc(100vw - 50px));
} */
/* .wear-single-image {
    height: 68vh;
    object-fit: contain;
    
} */
/* .single-product-page .section-title {
    padding-bottom: 50px;
    text-align: left;
}
 */
[data-nav] {
    width: 70px;
    /* height: 70px; */
    margin: 3px;
}
.size-guide {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-30);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--transition-speed) ease;
    -webkit-transition: all var(--transition-speed) ease;
    -moz-transition: all var(--transition-speed) ease;
    -ms-transition: all var(--transition-speed) ease;
    -o-transition: all var(--transition-speed) ease;
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
}
.size-guide * {
    font-size: 14px;
}
.size-guide.active {
    visibility: visible;
    opacity: 1;
}

.size-guide .content {
    height: calc(100% - 50px);
    width: min(1200px, calc(100% - 50px));
    margin: 0 auto;
    background: var(--white);
    padding: 20px;
    padding-top: 40px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    position: relative;
}
.size-guide-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.size-guide ::-webkit-scrollbar {
    appearance: none;
    width: 10px;
}

.size-guide .content::-webkit-scrollbar-thumb {
    appearance: none;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    background: #000;
}
.size-guide [class*=title] {
    font-size: 20px;
}
.size-guide-single {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.size-guide__slider {
    display: flex;
    flex-direction: row-reverse;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 50px;
}
.slider-container {
    grid-column-start: 2;
    grid-column-end: 5;
}
.size-guide__slider .navigation{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 25px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}
.slider-thumb img {
    height: 100%;
    object-fit: cover;
}
.modal ::-webkit-scrollbar {
    width: 3px;
}
.modal ::-webkit-scrollbar-thumb {
    background: #000;
}
.size-guide__slider .slider-thumb {
    margin: 10px 0;
    flex-shrink: 0;
}
.size-guide .accordion-body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.accordion-body.active {
    padding: 15px 0;
}
.size-guide .s-accordion {
    padding: 0;
    row-gap: 0;
}
.size-guide table {
    border: 1px solid var(--black);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 10px;
}
.size-guide table * {
    font-size: 10px;
}
td, tr, th {
    border: 1px solid var(--black);
    padding: 5px;
    text-align: center;
}
tr td:first-child {
    width: 100px;
}
.measurements .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.measurements .col:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.measurments-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.measurements-footer {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

